Body {
    background: #F0EDE8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    height: 100vh;
    font-family: sans-serif;
}

.restart {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    height: 20%;
    width: 20%;
    background: red;
}

h1, h2 {
    color: #373737;
    width: 100%;
    text-align: center;
}
h1 {
    align-self: flex-start;
}

path, line {
    fill: none;
    stroke: grey;
}
.tick line {

}
.tick text {
    text-transform: capitalize;
}
text {
  	font-size: 13px;
}
.bar:hover {
    stroke: black;
    stroke-width: 1px;
}
.bar {
    /* fill: #72A5B8; */
    /* transition: all ease .7s; */
    position: relative;
}

.counterDiv {
    position: absolute;
    font-family: 'helvetica', sans-serif;
    font-size: 80px;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
  pointer-events: none;
}
